	h1 {text-align: center;background-color: grey;} 
	h1 {color: saddlebrown;} 
	p {color: saddlebrown; background-color: grey;} 
	ul {color: saddlebrown;} 
	ul {font-size: 20px} 
	body {background-image: url(lpjs.jpg); background-repeat: no-repeat;background-attachment: fixed; background-size: cover;:}